<!DOCTYPE html>
<html lang="en">

<head>
    <title>Melodex - Product Listing Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/templatemo.css">
    <link rel="stylesheet" href="../css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="../css/fontawesome.min.css">
    <script src="../js/nav.js"></script>
    <script src="../js/products.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            console.log('Loading products...');
            loadProducts();
        });
    </script>
<!--
    
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>

<body>
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                </div>
                <div>
                    <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->


    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="index.html">
                Melodex
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="shop.html">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="adminLink" href="admin.html" style="display: none;">Admin Panel</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <a class="nav-icon text-decoration-none" href="cart.html">
                        <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                    </a>
                    <a class="nav-icon text-decoration-none" href="user-profile.html">
                        <i class="fa fa-fw fa-user text-dark mr-3"></i>
                    </a>
                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->

    <!-- Modal -->
    <!-- Search modal removed -->



    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">

            <div class="col-lg-3">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled templatemo-accordion" id="category-list">
                    <!-- Categories will be loaded here -->
                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            <select class="form-control" id="sortSelect">
                                <option value="featured">Featured</option>
                                <option value="name_asc">A to Z</option>
                                <option value="name_desc">Z to A</option>
                                <option value="price_asc">Price: Low to High</option>
                                <option value="price_desc">Price: High to Low</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" id="products-container">
                    <!-- Products will be loaded here -->
                </div>
            </div>

        </div>
    </div>
    <!-- End Content -->

    <!-- Start Brands -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Our Brands</h1>
                    <p>
                        Explore our curated collection of top-tier music brands, 
                        each handpicked to deliver exceptional quality and performance. 
                        From classic craftsmanship to cutting-edge innovation, find 
                        your perfect harmony with our selection of renowned brands.
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->

                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="../assets/img/logo_01.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="../assets/img/logo_02.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="../assets/img/logo_03.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="../assets/img/logo_04.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End First slide-->

                                    <!--Second slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="../assets/img/logo_01.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="../assets/img/logo_02.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="../assets/img/logo_03.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="../assets/img/logo_04.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Second slide-->

                                    <!--Third slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="../assets/img/logo_01.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="../assets/img/logo_02.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="../assets/img/logo_03.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="../assets/img/logo_04.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Third slide-->

                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->

                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands-->


    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">Melodex</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            123 Music Street, Melody City, MC 12345
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:+15551234567">+1 (555) 123-4567</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@melodex.com">info@melodex.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="shop.html">Electric Guitars</a></li>
                        <li><a class="text-decoration-none" href="shop.html">Keyboards</a></li>
                        <li><a class="text-decoration-none" href="shop.html">Drum Sets</a></li>
                        <li><a class="text-decoration-none" href="shop.html">Amplifiers</a></li>
                        <li><a class="text-decoration-none" href="shop.html">Guitar Pedals</a></li>
                        <li><a class="text-decoration-none" href="shop.html">Microphones</a></li>
                        <li><a class="text-decoration-none" href="shop.html">Vinyls</a></li>
                    </ul>
                </div>
                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="index.html">Home</a></li>
                        <li><a class="text-decoration-none" href="about.html">About Us</a></li>
                        <li><a class="text-decoration-none" href="contact.html">Contact</a></li>
                        <li><a class="text-decoration-none" href="signup.html">Sign Up</a></li>
                        <li><a class="text-decoration-none" href="login.html">Login</a></li>
                    </ul>
                </div>
            </div>
            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="subscribeEmail">Email address</label>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">
                        <div class="input-group-text btn-success text-light">Subscribe</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2025 Melodex 
                            | Designed by <a rel="sponsored" href="https://github.com/HermanAndrej" target="_blank">Andrej Herman</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="../js/jquery-1.11.0.min.js"></script>
    <script src="../js/jquery-migrate-1.2.1.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/templatemo.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/custom.js"></script>
    <script src="../js/api.js"></script>
    <script src="../js/navbar.js"></script>
    <script src="../js/shop.js"></script>
    <script>
        // Check if user is authenticated
        if (!window.api.auth.isAuthenticated()) {
            window.location.href = 'login.html';
        }

        // Function to create product card HTML
        function createProductCard(product) {
            const defaultImage = 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2YwZjBmMCIvPjx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBmb250LWZhbWlseT0iQXJpYWwiIGZvbnQtc2l6ZT0iMjAiIHRleHQtYW5jaG9yPSJtaWRkbGUiIGR5PSIuM2VtIiBmaWxsPSIjNjY2Ij5Qcm9kdWN0IEltYWdlPC90ZXh0Pjwvc3ZnPg==';
            return `
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" src="${product.ImageURL || defaultImage}" onerror="this.src='${defaultImage}'">
                            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-success text-white" href="#" onclick="window.api.cart.addToCart({
                                        id: ${product.ProductID},
                                        name: '${product.Name}',
                                        price: ${product.Price},
                                        image: '${product.ImageURL || defaultImage}'
                                    }); return false;"><i class="fas fa-cart-plus"></i></a></li>
                                    <li><a class="btn btn-success text-white mt-2" href="product-detail.html?id=${product.ProductID}"><i class="fas fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="product-detail.html?id=${product.ProductID}" class="h3 text-decoration-none">${product.Name}</a>
                            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                <li>${product.Description || 'No description available'}</li>
                            </ul>
                            <p class="text-center mb-0">$${product.Price}</p>
                            <p class="text-center mb-0"><small>Brand: ${product.Brand}</small></p>
                            <p class="text-center mb-0"><small>Stock: ${product.Stock}</small></p>
                        </div>
                    </div>
                </div>
            `;
        }

        // Function to load categories
        async function loadCategories() {
            try {
                const categories = await window.api.categories.getAll();
                const categoryList = document.getElementById('category-list');
                
                if (!Array.isArray(categories) || categories.length === 0) {
                    categoryList.innerHTML = '<li class="list-group-item">No categories available</li>';
                    return;
                }

                // Group categories by parent
                const mainCategories = categories.filter(cat => !cat.ParentCategoryID);
                const subCategories = categories.filter(cat => cat.ParentCategoryID);

                // Create HTML for each main category and its subcategories
                categoryList.innerHTML = mainCategories.map(mainCat => {
                    const subCats = subCategories.filter(sub => sub.ParentCategoryID === mainCat.CategoryID);
                    return `
                        <li class="pb-3">
                            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#" 
                               onclick="toggleCategory(${mainCat.CategoryID}); return false;">
                                ${mainCat.CategoryName}
                                <i class="fa fa-fw fa-chevron-circle-down mt-1" id="chevron-${mainCat.CategoryID}"></i>
                            </a>
                            ${subCats.length > 0 ? `
                                <ul class="collapse list-unstyled pl-3" id="subcat-${mainCat.CategoryID}">
                                    ${subCats.map(subCat => `
                                        <li>
                                            <a class="text-decoration-none" href="#" onclick="filterByCategory(${subCat.CategoryID}); return false;">
                                                ${subCat.CategoryName}
                                            </a>
                                        </li>
                                    `).join('')}
                                </ul>
                            ` : ''}
                        </li>
                    `;
                }).join('');

                // Add click handler for main category links
                mainCategories.forEach(mainCat => {
                    const link = document.querySelector(`a[onclick="toggleCategory(${mainCat.CategoryID}); return false;"]`);
                    link.addEventListener('click', (e) => {
                        e.preventDefault();
                        filterByCategory(mainCat.CategoryID);
                    });
                });
            } catch (error) {
                console.error('Error loading categories:', error);
                document.getElementById('category-list').innerHTML = 
                    '<li class="list-group-item text-danger">Error loading categories</li>';
            }
        }

        // Function to toggle category expansion
        function toggleCategory(categoryId) {
            const subcatList = document.getElementById(`subcat-${categoryId}`);
            const chevron = document.getElementById(`chevron-${categoryId}`);
            
            if (subcatList) {
                const isCollapsed = subcatList.classList.contains('show');
                if (isCollapsed) {
                    subcatList.classList.remove('show');
                    chevron.classList.remove('fa-chevron-circle-up');
                    chevron.classList.add('fa-chevron-circle-down');
                } else {
                    subcatList.classList.add('show');
                    chevron.classList.remove('fa-chevron-circle-down');
                    chevron.classList.add('fa-chevron-circle-up');
                }
            }
        }

        // Function to filter products by category
        async function filterByCategory(categoryId) {
            try {
                const container = document.getElementById('products-container');
                container.innerHTML = '<div class="col-12"><p class="text-center">Loading products...</p></div>';

                const products = await window.api.products.getByCategory(categoryId);
                console.log('Category products:', products);

                if (!Array.isArray(products) || products.length === 0) {
                    container.innerHTML = '<div class="col-12"><p class="text-center">No products in this category.</p></div>';
                    return;
                }

                container.innerHTML = products.map(createProductCard).join('');
            } catch (error) {
                console.error('Error filtering products:', error);
                document.getElementById('products-container').innerHTML = `                    <div class="col-12">
                        <p class="text-center text-danger">Error loading products. Please try again later.</p>
                        <p class="text-center">${error.message}</p>
                    </div>`;
            }
        }

        // Function to sort products
        function sortProducts(products, sortBy) {
            if (!Array.isArray(products)) {
                console.error('Products is not an array:', products);
                return [];
            }
            
            switch(sortBy) {
                case 'name_asc':
                    return [...products].sort((a, b) => a.Name.localeCompare(b.Name));
                case 'name_desc':
                    return [...products].sort((a, b) => b.Name.localeCompare(a.Name));
                case 'price_asc':
                    return [...products].sort((a, b) => a.Price - b.Price);
                case 'price_desc':
                    return [...products].sort((a, b) => b.Price - a.Price);
                default:
                    return [...products];
            }
        }

        // Function to load and display products
        async function loadProducts() {
            try {
                const container = document.getElementById('products-container');
                container.innerHTML = '<div class="col-12"><p class="text-center">Loading products...</p></div>';

                const products = await window.api.products.getAll();
                console.log('Received products:', products);

                if (!Array.isArray(products)) {
                    throw new Error('Invalid products data received');
                }

                const sortBy = document.getElementById('sortSelect').value;
                const sortedProducts = sortProducts(products, sortBy);
                
                if (sortedProducts.length === 0) {
                    container.innerHTML = '<div class="col-12"><p class="text-center">No products available.</p></div>';
                    return;
                }

                container.innerHTML = sortedProducts.map(createProductCard).join('');
                
                // Update cart UI
                window.api.cart.updateCartUI();
            } catch (error) {
                console.error('Error loading products:', error);
                document.getElementById('products-container').innerHTML = `                    <div class="col-12">
                        <p class="text-center text-danger">Error loading products. Please try again later.</p>
                        <p class="text-center">${error.message}</p>
                    </div>`;
            }
        }

        // Initialize page
        document.addEventListener('DOMContentLoaded', function() {
            loadCategories();
            loadProducts();
            
            // Add event listener for sort select
            document.getElementById('sortSelect').addEventListener('change', loadProducts);
        });
    </script>
    <!-- End Script -->
</body>

</html>

